# TABLE OF CONTENT : 
 1. [Scrapping Wikipedia Web page](#1)<br>
 2. [Adding coordinates of neighborhoods](#2)<br>

In [1]:
#Installing beautifulsoup package
#!pip install beautifulsoup4

In [1]:
#import of libraries necessary to scrap the web page 
import pandas as pd
from bs4 import BeautifulSoup
import requests
import numpy as np

# FIRST PART - SCRAPPING WIKIPEDIA WEB PAGE <a id="1"></a>

In [2]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
url

'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [3]:
#parsing the web page wikipedia
page_response=requests.get(url,timeout=5)
page_content = BeautifulSoup(page_response.content, 'lxml')

In [4]:
#creation of the data frame containing the table from wikipedia page : 
# varibale with all the tables found in the page 
tables=page_content.find_all('table')
#focus on the table we are interested in : 
table=tables[0].tbody
#creation of our data frame :
df_table=pd.DataFrame(columns=['PostalCode','Borough','Neighborhood'])
#iteration in the table in order to extract content and add it to our dataframe 
for row in table.find_all('tr') : 
    cols=row.find_all('td')
    try : 
        df_table=df_table.append({'PostalCode':cols[0].text,
                                          'Borough': cols[1].text, 
                                          'Neighborhood': cols[2].text, 
                                         }, ignore_index=True)
    except: 
        pass

df_table

,PostalCode,Borough,Neighborhood
0,M1A\n,Not assigned\n,\n
1,M2A\n,Not assigned\n,\n
2,M3A\n,North York\n,Parkwoods\n
3,M4A\n,North York\n,Victoria Village\n
4,M5A\n,Downtown Toronto\n,Regent Park / Harbourfront\n
...,...,...,...
175,M5Z\n,Not assigned\n,\n
176,M6Z\n,Not assigned\n,\n
177,M7Z\n,Not assigned\n,\n
178,M8Z\n,Etobicoke\n,Mimico NW / The Queensway West / South of Bloo...
179,M9Z\n,Not assigned\n,\n

In [5]:
#data frame cleaning by removin the '\n' using  REGEX: 
import re
for index,row in df_table.iterrows():
    for col in df_table.columns:
        row[col]= re.sub(r'\n','',row[col])
df_table

,PostalCode,Borough,Neighborhood
0,M1A,Not assigned,
1,M2A,Not assigned,
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,Regent Park / Harbourfront
...,...,...,...
175,M5Z,Not assigned,
176,M6Z,Not assigned,
177,M7Z,Not assigned,
178,M8Z,Etobicoke,Mimico NW / The Queensway West / South of Bloo...
179,M9Z,Not assigned,

In [6]:
#drop rows where no borough were attributed and copy borough neighborhood where no neighborood
for index, row in df_table.iterrows():
    if row['Borough']=='Not assigned':
        df_table.drop([index],inplace=True)
    if row['Neighborhood']== '':
        row['Neighborhood']=row['Borough']
df_table.reset_index(inplace=True,drop=True)
df_table.head(15)

,PostalCode,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,Regent Park / Harbourfront
3,M6A,North York,Lawrence Manor / Lawrence Heights
4,M7A,Downtown Toronto,Queen's Park / Ontario Provincial Government
5,M9A,Etobicoke,Islington Avenue
6,M1B,Scarborough,Malvern / Rouge
7,M3B,North York,Don Mills
8,M4B,East York,Parkview Hill / Woodbine Gardens
9,M5B,Downtown Toronto,"Garden District, Ryerson"
10,M6B,North York,Glencairn
11,M9B,Etobicoke,West Deane Park / Princess Gardens / Martin Gr...
12,M1C,Scarborough,Rouge Hill / Port Union / Highland Creek
13,M3C,North York,Don Mills
14,M4C,East York,Woodbine Heights

In [7]:
# checking if any null values are stil in the data frame : 
df_clean=df_table.isnull()
for column in df_clean.columns: 
    print(column)
    print(df_clean[column].value_counts())

PostalCode
False    103
Name: PostalCode, dtype: int64
Borough
False    103
Name: Borough, dtype: int64
Neighborhood
False    103
Name: Neighborhood, dtype: int64

In [8]:
df_table.shape

(103, 3)

In [10]:
import csv
df_table.to_csv('postal_code.csv')

# Adding coordinates of neighborhoods <a id="2"></a>

In [11]:
# instal of geocoder 
#!pip install geocoder

In [9]:
import geocoder # import geocoder

In [22]:
# initialize your variable to None
lat_lng_coords = None
for index,code in enumerate(df_table['PostalCode']): 
    postal_code=code
    print(index, 'st row to complete')
# loop until you get the coordinates
    while(lat_lng_coords is None):
        g = geocoder.geocodefarm('{}, Toronto, Ontario,Canada'.format(postal_code))
        lat_lng_coords = g.latlng
        print(lat_lng_coords)
    df_table.at[index,'latitude'] = lat_lng_coords[0]
    df_table.at[index,'longitude'] = lat_lng_coords[1]
    print(index, 'st row completed')
    lat_lng_coords = None

0 st row to complete
None
None
[43.7518806457716, -79.3303604125129]
0 st row completed
1 st row to complete
[43.7304191589716, -79.3128204341299]
1 st row completed
2 st row to complete
None
[43.6551399230715, -79.362648010213]
2 st row completed
3 st row to complete
[43.7232093811716, -79.4514083861301]
3 st row completed
4 st row to complete
None
None
[43.6644897460715, -79.393020629813]
4 st row completed
5 st row to complete
[43.6627693176715, -79.528312683113]
5 st row completed
6 st row to complete
[43.8115310668717, -79.1955184936129]
6 st row completed
7 st row to complete
None
[43.7492904663716, -79.361686706513]
7 st row completed
8 st row to complete
[43.7079391479716, -79.3115997314129]
8 st row completed
9 st row to complete
None
None
[43.6573600769715, -79.37818145713]
9 st row completed
10 st row to complete
[43.7079887390716, -79.448379516613]
10 st row completed
11 st row to complete
[43.6527900697152, -79.554061889613]
11 st row completed
12 st row to complete
[43.7856407165717, -79.1587066650129]
12 st row completed
13 st row to complete
[43.7218399047716, -79.3433990478129]
13 st row completed
14 st row to complete
None
None
None
[43.6897010803715, -79.3068008422129]
14 st row completed
15 st row to complete
[43.6514282226715, -79.37557220413]
15 st row completed
16 st row to complete
None
None
[43.6921081542715, -79.430358886713]
16 st row completed
17 st row to complete
[43.6488990783715, -79.578247070313]
17 st row completed
18 st row to complete
[43.765750885717, -79.1752014160129]
18 st row completed
19 st row to complete
[43.6770286560715, -79.2954177856129]
19 st row completed
20 st row to complete
None
None
None
[43.6453094482715, -79.373680114713]
20 st row completed
21 st row to complete
[43.6878395080715, -79.450462341313]
21 st row completed
22 st row to complete
None
None
None
None
[43.7681999206717, -79.2176132202129]
22 st row completed
23 st row to complete
None
[43.7090911865716, -79.364097595213]
23 st row completed
24 st row to complete
[43.6560897827715, -79.38493347113]
24 st row completed
25 st row to complete
[43.6687812805715, -79.420707702613]
25 st row completed
26 st row to complete
None
[43.7696914672717, -79.2394409179129]
26 st row completed
27 st row to complete
None
[43.8028488159717, -79.35620880113]
27 st row completed
28 st row to complete
None
None
[43.7480888367167, -79.444007873513]
28 st row completed
29 st row to complete
[43.7012710571716, -79.349800109813]
29 st row completed
30 st row to complete
[43.6497001647715, -79.382583618113]
30 st row completed
31 st row to complete
None
None
[43.6650886535715, -79.4387130731301]
31 st row completed
32 st row to complete
None
[43.7430915832716, -79.2352600097129]
32 st row completed
33 st row to complete
[43.780971527173, -79.347808837813]
33 st row completed
34 st row to complete
[43.7646713256717, -79.487182617113]
34 st row completed
35 st row to complete
[43.6881103515715, -79.3341827392129]
35 st row completed
36 st row to complete
None
[43.6428489685715, -79.380401611313]
36 st row completed
37 st row to complete
None
None
[43.6487312316715, -79.417839050213]
37 st row completed
38 st row to complete
[43.7286109924716, -79.2636718129865]
38 st row completed
39 st row to complete
[43.7810211181717, -79.380599975513]
39 st row completed
40 st row to complete
[43.7390289306716, -79.467323303213]
40 st row completed
41 st row to complete
[43.6837501525715, -79.355278015113]
41 st row completed
42 st row to complete
[43.6470985417151, -79.381530761713]
42 st row completed
43 st row to complete
None
[43.6394081115714, -79.4267578113013]
43 st row completed
44 st row to complete
[43.7140617370716, -79.2841186523129]
44 st row completed
45 st row to complete
[43.7572212219716, -79.379737854013]
45 st row completed
46 st row to complete
[43.7410697937716, -79.510803222613]
46 st row completed
47 st row to complete
[43.667968715456, -79.3146820068129]
47 st row completed
48 st row to complete
[43.6482315063715, -79.378898620613]
48 st row completed
49 st row to complete
[43.7138099670716, -79.488311767513]
49 st row completed
50 st row to complete
None
[43.7594795227716, -79.557250976513]
50 st row completed
51 st row to complete
[43.7235984802716, -79.2349624633129]
51 st row completed
52 st row to complete
[43.7913513183717, -79.413558959913]
52 st row completed
53 st row to complete
None
[43.7335510253716, -79.496803283613]
53 st row completed
54 st row to complete
None
[43.6609115600715, -79.3350296020129]
54 st row completed
55 st row to complete
[43.7354583740716, -79.419151306113]
55 st row completed
56 st row to complete
None
[43.6946792602715, -79.483467102013]
56 st row completed
57 st row to complete
[43.7336692810716, -79.5368728631303]
57 st row completed
58 st row to complete
[43.6953887939715, -79.2619400024129]
58 st row completed
59 st row to complete
[43.7671394348717, -79.407066345213]
59 st row completed
60 st row to complete
[43.7566604614716, -79.519721984813]
60 st row completed
61 st row to complete
[43.7289810180716, -79.391731262213]
61 st row completed
62 st row to complete
[43.7119407653716, -79.419120788513]
62 st row completed
63 st row to complete
None
[43.6761817932715, -79.482521057113]
63 st row completed
64 st row to complete
[43.703571319716, -79.516448974613]
64 st row completed
65 st row to complete
[43.7599792480716, -79.2683715820129]
65 st row completed
66 st row to complete
[43.7478713989716, -79.400291442813]
66 st row completed
67 st row to complete
[43.7127609252716, -79.388511657713]
67 st row completed
68 st row to complete
[43.6947898864715, -79.414398193313]
68 st row completed
69 st row to complete
[43.6599388122715, -79.463020324713]
69 st row completed
70 st row to complete
[43.6962318420715, -79.529258728013]
70 st row completed
71 st row to complete
[43.7507095336716, -79.3005599975129]
71 st row completed
72 st row to complete
[43.7799110417172, -79.4467773431301]
72 st row completed
73 st row to complete
[43.7145195007716, -79.406959533613]
73 st row completed
74 st row to complete
[43.6748390197715, -79.401847839313]
74 st row completed
75 st row to complete
[43.6478500366715, -79.450202941813]
75 st row completed
76 st row to complete
[45.4007438453964, -75.6741239844618]
76 st row completed
77 st row to complete
[43.6867408752715, -79.557289123513]
77 st row completed
78 st row to complete
[43.7939414978717, -79.2671127319129]
78 st row completed
79 st row to complete
[43.7033996582716, -79.385963439913]
79 st row completed
80 st row to complete
[43.6631088256715, -79.401802062913]
80 st row completed
81 st row to complete
[43.6503410339715, -79.475708007813]
81 st row completed
82 st row to complete
[43.7847290039717, -79.2993698120129]
82 st row completed
83 st row to complete
[43.6906585693715, -79.383560180613]
83 st row completed
84 st row to complete
[43.6535110473715, -79.397216796813]
84 st row completed
85 st row to complete
[43.8178100585717, -79.2802429199129]
85 st row completed
86 st row to complete
[43.6856918334715, -79.402320861813]
86 st row completed
87 st row to complete
[43.6408195495715, -79.399559020913]
87 st row completed
88 st row to complete
[43.6098709106714, -79.496932983313]
88 st row completed
89 st row to complete
[43.7445297241716, -79.586242675713]
89 st row completed
90 st row to complete
[43.8005218505717, -79.3207397460129]
90 st row completed
91 st row to complete
[43.6819000244715, -79.37850189213]
91 st row completed
92 st row to complete
[43.6486892707151, -79.385437011713]
92 st row completed
93 st row to complete
[43.6010818481714, -79.538909912113]
93 st row completed
94 st row to complete
[43.7117385864716, -79.579177856413]
94 st row completed
95 st row to complete
None
[43.8342208867181, -79.2166976928129]
95 st row completed
96 st row to complete
[43.6678810119715, -79.366493225013]
96 st row completed
97 st row to complete
[43.6482810974715, -79.381462097113]
97 st row completed
98 st row to complete
None
[43.6536903381715, -79.511123657213]
98 st row completed
99 st row to complete
[43.6665916442715, -79.381301879813]
99 st row completed
100 st row to complete
[43.6486892707151, -79.385437011713]
100 st row completed
101 st row to complete

[43.6328811645714, -79.489547729413]
101 st row completed
102 st row to complete
[43.6246299743714, -79.528350830013]
102 st row completed

In [23]:
df_table

,PostalCode,Borough,Neighborhood,latitude,longitude
0,M3A,North York,Parkwoods,43.7519,-79.3304
1,M4A,North York,Victoria Village,43.7304,-79.3128
2,M5A,Downtown Toronto,Regent Park / Harbourfront,43.6551,-79.3626
3,M6A,North York,Lawrence Manor / Lawrence Heights,43.7232,-79.4514
4,M7A,Downtown Toronto,Queen's Park / Ontario Provincial Government,43.6645,-79.393
...,...,...,...,...,...
98,M8X,Etobicoke,The Kingsway / Montgomery Road / Old Mill North,43.6537,-79.5111
99,M4Y,Downtown Toronto,Church and Wellesley,43.6666,-79.3813
100,M7Y,East Toronto,Business reply mail Processing CentrE,43.6487,-79.3854
101,M8Y,Etobicoke,Old Mill South / King's Mill Park / Sunnylea /...,43.6329,-79.4895
102,M8Z,Etobicoke,Mimico NW / The Queensway West / South of Bloo...,43.6246,-79.5284

In [ ]:
Checking